.input {
	border-style: hidden;
	border-color: black;
	outline: none;
	width: 4em;
}

/* Chrome, Safari, Edge, Opera */
input.input::-webkit-outer-spin-button,
input.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.input[type=number] {
  -moz-appearance: textfield;
}

.KaCountInput {
	text-align: end;
}

.x {
	width: 1em;
}

.count {
	width: 1.3em;
}

.numberInput {
	text-align: end;
	border-radius: 15px;
	background-color: #dddddd;
}

.numberLabel {
	width: 8em;
	text-align: end;
}

.form-container {
	width: 100%;
	text-align: center;
	font-size: 4rem;
}

body {
	padding-top: 3em;
}

#plus{
	border: none;
	font-size: 6rem;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding: 0;
	outline: 0;
	background-color: transparent;
}

.minus{
	border: none;
	font-size: 7rem;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	outline: 0;
	margin-top: -.2em;
	background-color: transparent;
	width: 1em;
}