<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
	<meta charset="UTF-8">
	<title>ALDI Artikelnummer Liste</title>
	<link rel="stylesheet" th:href="@{/css/list.css}" />
	
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
</head>

<body>

	<div id="allForms">
		<div class="form-container">
			<form class="form">
				<input type="button" class="minus" value="-" tabindex="-1"/>
				<input type="number" class="numberInput input"/>
				<label class="numberLabel"></label>
				<label class="x">x</label>
				<input type="number" class="input count KaCountInput"/>
				<label class="/">/</label>
				<input type="number" class="input count StCountInput"/>
			</form>
		</div>
	</div>
	<input type="button" id="plus" value="+" tabindex="-1"/>
	
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/list.js}"></script>
</body>

</html>